/**
 * @description Page loader loading state styles
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
& when (@media-common = true) {
    body.page-state-loading {
        overflow: hidden;

        #page_loader {
            visibility: visible;
            opacity: 1;
            z-index: 999999999999;
        }
    }
}
